absl-py==0.11.0
addict==2.4.0
alembic==1.8.1
altgraph==0.17
amply==0.1.4
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.5
blis==0.7.4
boto==2.49.0
boto3==1.14.24
botocore==1.17.24
cachetools==4.2.1
catalogue==2.0.4
certifi==2019.3.9
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.1
combo==0.1.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.28
decorator==4.4.0
defusedxml==0.6.0
dgl==0.6.1
docutils==0.15.2
easygui===0.98.0-unreleased
entrypoints==0.3
et-xmlfile==1.0.1
fastai==2.4.1
fastcore==1.3.20
fastprogress==1.0.0
filelock==3.0.12
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.0
flatbuffers==1.12
formulaic==0.2.4
future==0.17.1
gast==0.3.3
gdown==3.13.0
gensim==3.8.3
gensim-doc-zh==2020.9.21.0
google-auth==1.25.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googledrivedownloader==0.4
graphviz==0.16
greenlet==1.1.3
grpcio==1.32.0
h5py==2.10.0
idna==2.8
importlib-metadata==5.0.0
importlib-resources==5.10.0
interface-meta==1.3.0
ipykernel==5.3.3
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==5.6.4
itchat==1.2.32
itsdangerous==2.1.2
jedi==0.13.3
jieba==0.39
Jinja2==3.1.2
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
linearmodels==4.25
llvmlite==0.34.0
lolviz==1.4.4
lxml==4.8.0
Mako==1.2.3
Markdown==3.3.3
MarkupSafe==2.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mpl-finance==0.10.1
mpmath==1.2.1
multitasking==0.0.10
murmurhash==1.0.5
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5.1
nltk==3.5
notebook==6.0.3
numba==0.51.2
numpy==1.21.6
oauthlib==3.1.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.4.0
pathy==0.6.0
patsy==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
plotly==5.8.2
pprint==0.1
preshed==3.0.5
prettytable==2.1.0
prometheus-client==0.8.0
prompt-toolkit==2.0.9
property-cached==1.6.4
protobuf==3.14.0
PuLP==2.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pygame==2.0.1
Pygments==2.4.2
pyhdfe==0.1.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
PyMySQL==1.0.2
pyod==0.8.2
pyparsing==2.4.7
pypng==0.0.19
PyQRCode==1.2.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-louvain==0.15
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.1
qqdm==0.0.7
qtconsole==4.7.5
QtPy==1.9.0
rdflib==6.0.0
regex==2020.11.13
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.7.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.15.0
smart-open==5.1.0
soupsieve==1.9.1
spacy==3.1.1
spacy-legacy==3.0.8
SQLAlchemy==1.4.41
srsly==2.4.1
statsmodels==0.12.0
suod==0.0.4
sympy==1.8
tenacity==8.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.8
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-scatter==2.0.8
torch-sparse==0.6.11
torch-spline-conv==1.2.1
torchvision==0.10.0
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.2
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.25.3
utils==1.0.1
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.5.1
wordcloud==1.8.2.2
wrapt==1.12.1
wxpy==0.3.9.8
xlrd==1.2.0
yfinance==0.1.70
zipp==3.1.0
